.profileCard{
    width: 100rem;
}

.sideVar {
	display: flex;
	flex-direction: column;
	width: 10rem;
    padding-right: 2rem;
	gap: 0.5rem;
}

.messagesContainer {
    
    display: flex;
}

table{
	width: 100%;
	padding: 1rem;
	gap:2rem;
}
#sendMessage{
	align-self: flex-end;
}

.mainContainer{
	display: flex;
	justify-content: center;
}
.mat-column-content{
	width: 10%;
}
.mat-column-receiver{
	padding: 0 1rem;
	width: 10%;
}
.mat-column-sendBy{
	padding: 0 1rem;
	width: 20%;
}
.mat-column-time{
	padding: 0 1rem;

	width: 20%;
}
.mat-column-deleteMessage{
	padding: 0 1rem;
	width: 20%;
}
.messageContentP{
	max-width: 20rem;
	word-wrap: break-word;
}

mat-expansion-panel{
	width: 20rem;
	padding: 0;
}