<div class="cardContainer">
    <mat-card class="formCard" >
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="form" (ngSubmit)="enviarDatos()">
            
            <div class="container">
                <label for="nombre"> Nombre </label>
                <input
                    type="text"
                    placeholder="Ingresa tu nombre"
                    formControlName="nombre"
                    name="nombre"
                />
                <p class="invalidInput" *ngIf="form.controls['nombre'].errors && form.controls['nombre'].touched">
                    debe ser un nombre valido
                </p>
                <br>
                <label for="apellido">Apellido</label>
                <input
                    type="text"
                    placeholder="Ingresa tu apellido"
                    formControlName="apellido"
                    name="apellido"
                />
                <p class="invalidInput" *ngIf="form.controls['apellido'].errors && form.controls['apellido'].touched">
                    debe ser un apellido valido
                </p>
                <br>
                <label for="nombreUsuario">Nombre de Usuario</label>
                <input
                    type="text"
                    placeholder="Ingresa tu Nombre de Usuario"
                    formControlName="nombreUsuario"
                    name="nombreUsuario"
                />
                <p class="invalidInput" *ngIf="form.controls['nombreUsuario'].errors && form.controls['nombreUsuario'].touched">
                    debe ser un nombre de Usuario valido
                </p>
                <br>
                <label for="contrasena">Contraseña</label>
                <input
                    type="password"
                    placeholder="Ingresa tu Contraseña"
                    formControlName="contrasena"
                    name="contrasena"
                />
                <p class="invalidInput" *ngIf="form.controls['contrasena'].errors && form.controls['contrasena'].touched">
                    debe ser una contraseña valida
                </p>
                <br>
                <label for="confirmarContrasena">Confirmar Contraseña</label>
                <input
                    type="password"
                    placeholder="Ingresa tu Confirmar Contraseña"
                    formControlName="confirmarContrasena"
                    name="confirmarContrasena"
                />
                <p class="invalidInput" *ngIf="(form.controls['confirmarContrasena'].errors && form.controls['confirmarContrasena'].touched) || !validPassword">
                    Las contraseñas no coinciden
                </p>
                <br>
                <label for="pais">Pais</label>
                <input
                    type="text"
                    placeholder="Ingresa tu Pais"
                    formControlName="pais"
                    name="pais"
                />
                <p class="invalidInput" *ngIf="form.controls['pais'].errors && form.controls['pais'].touched">
                    debe ser un pais valido
                </p>
                <br>
                <label for="ciudad">Ciudad</label>
                <input
                    type="text"
                    placeholder="Ingresa tu Ciudad"
                    formControlName="ciudad"
                    name="ciudad"
                />
                <p class="invalidInput" *ngIf="form.controls['ciudad'].errors && form.controls['ciudad'].touched">
                    debe ser una ciudad valida
                </p>

                <button mat-raised-button >Enviar Datos</button>
            </div>
        </form>
    </mat-card>
</div>

